.card {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr) 40px;
    background-color: rgba(253, 248, 249, 0.9);
    border: 1px solid rgba(210, 168, 168, 0.45);
    border-radius: 10px;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row h4 {
    font-size: 15px;
    font-weight: 600;
}

.row p {
    font-size: 14px;
}

.icon {
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.icon:hover {
    transform: scale(1.1);
}